header {
    text-align: center;
    padding: 10%;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body {
    background: rgb(40,39,65);
    background: linear-gradient(127deg, rgba(40,39,65,1) 17%, rgba(143,235,213,1) 69%, rgba(38,215,91,0.9983766233766234) 97%);
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 2%;
    color: #e7f7f4;
    background-color: #282741;
    font-family: 'Times New Roman';
}

h3 {
    margin-top: 4%;
    color:#e7f7f4;
    background-color: #282741;
}

h4 {
    margin: 0%;
    color: #e7f7f4;
    margin-top: 0.5rem;
}

.circularImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img {
    object-fit: cover; /* Me ajusta la imagen bonito */
}

.mainUL {
    margin-bottom: 10px;
}

button {
    color: #e7f7f4;
    border-radius: 8px;
    background-color: #282741;
    transition: 0.3s;
    cursor: pointer;
    padding: 8px;
    font-size: 12px;
}
button:hover{
    opacity: 0.8;
}



main {
    margin-left: 100px;
    margin-right: 100px;
}

#footer {
    background-color: #282741;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    vertical-align: middle;
}

.centered {
    margin-left: 10px;
    margin-bottom: 0%;    
}

.boldItalic{
    font-style: italic;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}