header {
    text-align: center;
}

body {
    background: rgb(122,76,41);
    background: linear-gradient(45deg, rgba(122,76,41,1) 0%, rgba(192,33,34,1) 40%, rgba(221,193,37,1) 86%);;
}

h1 {
    margin: 0%;
    color: #ddc125;
    background-color: #7a4c29;
    font-family: 'Times New Roman';
}

h3 {
    margin-top: 4%;
    color: #ddc125;
    background-color: #7a4c29;
}

h4 {
    margin: 0%;
    color: #ddc125;
}

.mainUL {
    margin-bottom: 10px;
}


main {
    margin-left: 100px;
    margin-right: 100px;
}

#sectionImage {
    background-color: #7a4c29
}

#sectionH1 {
    background-color:dimgrey;
}

#footer {
    background-color: #7a4c29;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    vertical-align: middle;
}

.centered {
    margin-left: 10px;
    margin-bottom: 0%;
    
}

.boldItalic{
    font-style: italic;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}